<a href="https://colab.research.google.com/github/Gopinath1911/Reddit_Scores_Prediction/blob/main/Reddit_Score_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

df=pd.read_csv("/content/drive/MyDrive/data.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

   Unnamed: 0  gilded  ... created_utc removal_reason
0           0       0  ...  1229580037            NaN
1           1       0  ...  1229580041            NaN
2           2       0  ...  1229580053            NaN
3           3       0  ...  1229580067            NaN
4           4       0  ...  1229580072            NaN

[5 rows x 23 columns]

In [ ]:
df.shape

(850359, 23)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850359 entries, 0 to 850358
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              850359 non-null  int64
 1   gilded                  850359 non-null  int64
 2   author_flair_css_class  4431 non-null    object
 3   id                      850358 non-null  object
 4   link_id                 850359 non-null  object
 5   downs                   850359 non-null  int64
 6   subreddit               850359 non-null  object
 7   author                  850359 non-null  object
 8   score                   850359 non-null  int64
 9   subreddit_id            850359 non-null  object
 10  ups                     850359 non-null  int64
 11  edited                  850359 non-null  int64
 12  author_flair_text       3916 non-null    object
 13  body                    850357 non-null  object
 14  retrieved_on            850359 non-null  int64
 15  parent_id               850359 non-null  object
 16  controversiality        850359 non-null  int64
 17  name                    850359 non-null  object
 18  score_hidden            850359 non-null  bool
 19  distinguished           2 non-null       object
 20  archived                850359 non-null  bool
 21  created_utc             850359 non-null  int64
 22  removal_reason          0 non-null       float64
dtypes: bool(2), float64(1), int64(9), object(11)
memory usage: 137.9+ MB

In [ ]:
df.isna().sum()

Unnamed: 0                     0
gilded                         0
author_flair_css_class    845928
id                             1
link_id                        0
downs                          0
subreddit                      0
author                         0
score                          0
subreddit_id                   0
ups                            0
edited                         0
author_flair_text         846443
body                           2
retrieved_on                   0
parent_id                      0
controversiality               0
name                           0
score_hidden                   0
distinguished             850357
archived                       0
created_utc                    0
removal_reason            850359
dtype: int64

In [ ]:
df.nunique()

Unnamed: 0                850359
gilded                         1
author_flair_css_class       314
id                        850358
link_id                   110898
downs                          1
subreddit                   1103
author                     34073
score                        493
subreddit_id                1103
ups                          493
edited                       670
author_flair_text            460
body                      692282
retrieved_on                7427
parent_id                 443336
controversiality               2
name                      850359
score_hidden                   1
distinguished                  1
archived                       2
created_utc               714831
removal_reason                 0
dtype: int64

In [ ]:
df=df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
df.drop(['gilded','downs', 'ups', 'controversiality', 'score_hidden', 'distinguished','removal_reason'], axis=1, inplace=True)

In [ ]:
df.head(1)

  author_flair_css_class id   link_id  ...  name archived  created_utc
0                    NaN  2  t3_7j6z5  ...  t1_2     True   1229580037

[1 rows x 15 columns]

In [ ]:
df.isna().sum()

author_flair_css_class    845928
id                             1
link_id                        0
subreddit                      0
author                         0
score                          0
subreddit_id                   0
edited                         0
author_flair_text         846443
body                           2
retrieved_on                   0
parent_id                      0
name                           0
archived                       0
created_utc                    0
dtype: int64

In [ ]:
df.edited.value_counts()

0             736259
1             113429
1369518126         2
1369519786         2
1369507932         2
               ...
1369517842         1
1367605687         1
1369536792         1
1414164088         1
1418074161         1
Name: edited, Length: 670, dtype: int64

In [ ]:
X_num= df[['edited', 'archived']]
X_cat=df[['author', 'subreddit']]
y=df['score']

In [ ]:
X_cat_encoding=pd.get_dummies(X_cat)